[submodule "libc"]
	path = libc
	url = https://github.com/zer0mem/libc.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
[submodule "cccapstone"]
	path = cccapstone
	url = https://github.com/zer0mem/cccapstone.git
