[submodule "libc"]
	path = libc
	url = https://github.com/zer0mem/libc.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone.git
